.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container {
  position: relative;
  width: 50%;
  margin-left: 5vw;
  margin-bottom: 3vw;
}

.image {
  width: 26vw;
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  margin-top: -15px;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.head {
  font-family: 'Abril Fatface';
  padding: '3vh';
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
}
.info {
  display: 'flex';
  justify-content: 'flex-start';
  align-items: 'center';
  flex-direction: 'column';
  font-family: 'Montserrat';
  margin-left: -100px;
  padding-right: 100px;
}
iframe {
  margin-left: 7vw;
  margin-bottom: -1vw;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  iframe {
    margin-left: 25%;
  }
}
