.container {
  display: grid;
  grid-gap: 0.5em;
  background: #aaafb7;
}

header {
  grid-column: 1 / span 5;
  font-family: 'Abril Fatface';
  height: 10vw;

  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3vw;
}
p {
  margin: 0;
  padding: 0;
  font-size: 2vw;
  margin-left: -8vw;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  grid-column: 1 / span 4;
}

aside {
  grid-column: span 1;
  height: 35vw;
}
.image {
  opacity: 1;
  height: auto;
  transition: 0.1s linear;
  backface-visibility: hidden;
  max-height: 100%;
  max-width: 100%;
  padding-left: 6vw;
  padding-right: 6vw;
}
.middle {
  transition: 0.1s linear;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  margin-top: -15px;
  max-height: 100%;
  max-width: 100%;
  width: 35%;
  height: 55%;
}
.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
.info {
  max-height: 100%;
  max-width: 100%;
  font-family: 'Montserrat';
}

@media (max-width: 700px) {
  .container {
    height: 100vh;
  }
  main,
  aside {
    grid-column: 1 / span 5;
  }
  img {
    width: 100%;
    max-height: 100vh;
    max-width: 100vh;
  }
  .middle {
    width: 90%;
    height: 80%;
    margin-left: 25vw;
  }
  aside {
    height: 100vh;
  }
  .info {
    max-height: 100vh;
    max-width: 100vh;
  }
}
